@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --height-nav: 100px;
  --height-nav-scrolled: 70px;
  
  --color-primario: #FFDE59;
  --color-secundario: #0D004B;
  --color-titulo: #051922;

  --color-etiqueta: #69757A;
  --color-etiqueta-hover: #0056b3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 28px;
}

body{
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  padding-top: var(--height-nav);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1px;
  line-height: 1.8;
}

body img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1, .h1,
h2, .h2,
h3, .h3,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: var(--color-titulo);
}

h4, .h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: var(--color-titulo);
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {
  h3, .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@media only screen and (max-width: 575.96px) {
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: var(--color-secundario);
}

input, textarea{
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  padding: .25rem .5rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #333;
}

.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

.texto-overflow{
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.row {
  display:grid;
  grid-template-columns: repeat(2, 1fr); 
}

.column {
  display: flex;
  align-items: center;
  justify-content:flex-start; 
  color: #69757A;
  margin-bottom: 20px;
}

.column-font{
  color: #69757A;
  font-size: .85em;
}

i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

/* BOTONES */
.boton{
  display: inline-block;
  padding: 5px 20px;
  background-color: var(--boton-bg, #09f);
  color: var(--boton-color, #fff);
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.boton:hover{
  background-color: var(--boton-bg-hover, rgb(0, 137, 228));
}
.boton--rojo{ background: rgb(255, 0, 0); color: #fff; }
.boton--rojo:hover{ background: rgb(205, 0, 0); }
.boton--verde{ background: rgb(0, 150, 0); color: #fff; }
.boton--verde:hover{ background: rgb(0, 100, 0); }
.boton--amarillo{ background: rgb(255, 255, 0); color: #000; }
.boton--amarillo:hover{ background: rgb(205, 205, 0); }

/* NAVBAR */
.nav{
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--height-nav);
  font-weight: bold;
  background: var(--color-secundario);
  z-index: 1000;
  transition: 0.3s ease;
}
.nav--transparent{
  background-color: transparent;
}
.nav--scrolled{
  --height-nav: var(--height-nav-scrolled);
  background: var(--color-secundario); /* Sobreescribe el transparent */
}
.nav__contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 30px;
}
.nav__logo{
  height: 50%;
  max-height: 50px;
  z-index: 2000;
}
.nav__img{
  height: 100%;
  object-fit: contain;
}
.nav__links{
  flex: 1;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.nav__paginas,
.nav__sesion{
  display: flex;
  gap: 20px;
}

.nav__link{
  color: #fff;
  text-decoration: none;
  transition: color .2s;
  user-select: none;
}
.nav__link:hover{
  color: var(--color-primario);
}

/* NAVBAR HAMBURGUESA */
.nav__hamburguesa {
  display: none;
  align-items: center;
  height: 80%;
  max-height: 50px;
  color: #fff;
  z-index: 2000;
}
.nav__icono {
  height: 90%;
  cursor: pointer;
}
.nav__checkbox {
  display: none;
}

@media screen and (max-width: 830px){
  .nav__hamburguesa{
    display: block;
  }
  .nav__links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    height: 100dvh;
    background-color: var(--color-secundario);
    clip-path: circle(0 at 50% 0%);
    transition: .4s;
    overflow: auto;
    opacity: 0.95;
  }
  .nav__paginas{
    margin-top: var( --height-nav);
  }
  .nav:has(.nav__checkbox:checked) .nav__links {
    clip-path: circle(120vmax at 50% 0%);
    z-index: 1000;
  }
  html:has(.nav__checkbox:checked){
    overflow: hidden
  }
  .nav__paginas,
  .nav__sesion{
    flex-direction: column;
    align-items: center;
  }
}

/* HEADER */
.header__inicio{
  margin-top: calc(-1 * var(--height-nav));
}
.header__slide{
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  text-align: center;
}
.header__contenedor{
  margin-top: var(--height-nav);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.header__contenedor--2{
  align-items: center;
}
.header__contenedor--3{
  align-items: flex-end;
}
.header__texto{
  color: var(--color-primario);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 1.2rem;
}
.header__titulo{
  font-weight: 700;
  line-height: 1.3;
  font-size: clamp(1.3rem, 5vw, 4rem);
  color: #fff;
}
.header__botones{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  width: 90%;
  max-width: 420px;
  gap: 20px;
}

.header__cta{
  width: 100%;
  padding: 10px 20px;
  background-color: var(--color-primario);
  border-radius: 50px;
  transition: .3s;
  outline: 2px solid var(--color-primario);
  color: white;
}
.header__cta:hover{
  outline: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
  color: var(--color-primario);
}
.header__cta--borde{
  background-color: transparent;
  color: #fff;
}
.header__cta--borde:hover{
  outline: 2px solid var(--color-primario);
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

@media (max-width: 800px) {
  .header__contenedor{
    align-items: center;
  }
}

/* SLIDER */
.react-slideshow-container .default-nav {
  display: none;
}
.react-slideshow-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position:relative;
  z-index: 2;
}

.react-slideshow-wrapper {
  z-index: 1; /* Asigna un valor de z-index más bajo */
}

/* VENTANA MODAL CONFIRMACION */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  z-index: 2000;
}
html:has(.modal){ overflow: hidden; }
.modal__contenedor{
  width: 90%;
  max-width: 1000px;
  padding: 3em;
  border-radius: 3px;
  background-color: #fff;
}
.modal__texto{
  text-align: center;
  margin-bottom: 4em;
  font-size: 1.3em;
}
.modal__botones{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.modal__botones > button{
  min-width: 200px;
}

/******** PUBLICACIONES *************/
.header__publicaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(50vh + var(--height-nav));
  min-height: calc(50dvh + var(--height-nav));
  margin-top: calc(-1 * var(--height-nav));
  background-size: cover;
  background-position: top center;
  background-attachment: inherit;
  text-align: center;
}

.header__searchbar {
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 80%;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.header__searchbar input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}

.header__searchbar button {
  background-color: transparent;
  padding: 5px;
  color:var(--color-secundario);
  border: none;
  outline: none;
  cursor: pointer;
}

.header__searchbar:hover {
  background-color: #fff;
}

.header__searchbar button svg {
  font-size: 18px;
}

.publicaciones {
  width: 90%;
  max-width: 1200px;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
  gap: 30px;
}


/******** PREVIZUALIZACIONES PUBLICACIONES *************/
.previsualizacion {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  border: none;
  box-shadow: 0 0 20px #cecdcd;
  transition: box-shadow 0.5s;
  overflow: hidden;
}
.previsualizacion:hover {
  box-shadow: none;
}

.previsualizacion__portada{
  display: block;
  height: 250px;
  background-color: #ddd;
}
.previsualizacion__img {
  width:100%;
  height: 100%;
  object-fit: cover;
}
.previsualizacion:hover .previsualizacion__img {
  filter: opacity(80%);
}

.previsualizacion__editar {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px 20px;
  background-color: #fff;
  color: var(--color-secundario); /* Color del texto del botón */
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: medium;
}
.previsualizacion__editar:hover{
  background-color:var(--color-primario);
}
.previsualizacion:hover .previsualizacion__editar{
  z-index: 999;
}
.previsualizacion__texto{
  padding: 25px;
}
.previsualizacion__precio{
  font-weight: bold;
  font-size: 1.5rem
}
.previsualizacion__calificacion {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--color-primario); 
  font-size: 1.2rem;
}
.previsualizacion__estrella{
  font-size: 2rem;
}

.previsualizacion__etiquetas {
  width: 100%;
  max-width: 100%;
  padding-bottom: 10px;
  white-space: nowrap;
  overflow-x: auto;
}
.previsualizacion__etiquetas::-webkit-scrollbar {
  height: 8px; 
}
.previsualizacion__etiquetas::-webkit-scrollbar-thumb {
  background-color: #8f979b; 
  border-radius: 4px; 
}
.previsualizacion__etiquetas::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-etiqueta);
}

.previsualizacion__etiqueta {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 5px;
  background-color: var(--color-etiqueta);
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.previsualizacion__etiqueta:hover {
  background-color: var(--color-etiqueta-hover);
}

/* PUBLICACION (DETALLES) */
.calificacion{
  display: flex;
  align-items: center;
}
.calificacion__titulo{
  margin-right: 10px;
}
.calificacion__estrella{
  color: rgb(180, 180, 180);
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}
.calificacion__estrella:has(~ .calificacion__estrella:hover),
.calificacion__estrella:hover{
  color: rgb(140, 140, 140);
}
.calificacion__estrella--activa,
.calificacion__estrella--activa:has(~ .calificacion__estrella:hover),
.calificacion__estrella--activa:hover{
  color: gold;
}

/* INICIO DE SESIÓN Y REGISTRO */
.contenedor-sesion{
  height: calc(100vh - var(--height-nav));
  height: calc(100dvh - var(--height-nav));
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__sesion{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  max-width: 350px;
  background-color: #ffffff;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}
.form__titulo{
  margin: 0;
  color: var(--color-titulo);
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-align: center;
}
.form__input{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #767676;
}
.form__icono{
  margin: 0 .25rem;
  color: var(--color-primario);
}
.form__campo{
  background: transparent;
  padding: .5rem 1rem;
  color: #000;
  border: none;
  outline: none;
}
.form__boton{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.form__restablecer{
  color: #09f;
  font-size: .9rem;
  cursor: pointer;
}
.form__restablecer:hover{
  text-decoration: underline;
}